<!-- Start Carousel -->
  <div id="carousel" class="carousel">
    <div class="item-1">
      <!-- Slide Content -->
      <%= image_pack_tag 'apples/1.jpg' %>
    </div>
    <div class="item-2">
      <!-- Slide Content -->
      <%= image_pack_tag 'apples/2.jpg' %>
    </div>
    <div class="item-3">
      <!-- Slide Content -->
      <%= image_pack_tag 'apples/3.jpg' %>
    </div>
    <div class="item-4">
      <!-- Slide Content -->
      <%= image_pack_tag 'apples/4.jpg' %>
    </div>
    <div class="item-5">
      <!-- Slide Content -->
      <%= image_pack_tag 'apples/5.jpg' %>
    </div>
    <div class="item-6">
      <!-- Slide Content -->
      <%= image_pack_tag 'apples/6.jpg' %>
    </div>
  </div>
<!-- End Carousel -->